@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 15%;
    font-family: Kumbh Sans;

}

header .navbar li {
    opacity: 75%;
    font-size: 2vh;
    cursor: pointer;
}

header #perfilimg {
    width: 5vh;
}

header #perfilimg:hover {
    opacity: 75%;
    cursor: pointer;
}



header .menuandlogo {
    display: flex;
    gap: 4vh;
    list-style: none;
}

header #logo {
    width: 20vh;
    cursor: pointer;
}

header .logoandcart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

header #headercart {
    width: 2vh;
    cursor: pointer;
}

header #headercart:hover {
   opacity: 75%;
}

hr {
    opacity: 75%;
}

main {
    padding: 0% 15%;
}

main #productphoto1 {
    width: 80%;
    margin-top: 7%;
    margin-left: 5%;
    border-radius: 3.5%;
}


main #productthumb1:hover,
#productthumb2:hover,
#productthumb3:hover,
#productthumb4:hover {
    opacity: 75%;
    cursor: pointer;
}



main .productthumbs {
    display: flex;
    margin-left: 5%;
    border-radius: 10px;
    gap: 3vh;
}

main .productthumbs img {
    border-radius: 5%;
    width: 17.5%;
}

main .home {
    display: grid;
    grid-template-areas: "l f";
    grid-template-columns: 1fr, 1fr;

}

main .infos {
    width: 100%;
    gap: 2vh;
    margin-top: 20%;
    display: grid;



}

main #sneakercompany {
    color: hsl(26, 100%, 62%);
    font-family: Kumbh Sans;
    font-weight: 700;
    font-size: 1.5vh;
    text-transform: uppercase;
    letter-spacing: 0.1vh;
}

main #limitededition {
    color: hsl(0, 0%, 0%);
    font-family: Kumbh Sans;
    font-weight: 700;
    font-size: 6vh;
    width: 70vh;
}

main #description {
    color: hsl(0, 0%, 0%);
    opacity: 75%;
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 2vh;
    width: 70%;
    line-height: 3vh;
    width: 60vh;

}

main #price {
    color: hsl(0, 0%, 0%);
    font-family: Kumbh Sans;
    font-weight: 700;
    font-size: 3vh;

    width: 60%;
    display: inline-flex;
}

main #descount {
    color: hsl(26, 100%, 62%);
    font-family: Kumbh Sans;
    font-weight: 700;
    font-size: 2vh;
    border: solid 0.1rem;
    border-color: hsla(26, 100%, 89%, 0.549);
    ;
    padding: 0.5vh 1vh 0.5vh 1vh;
    border-radius: 10%;
    background-color: hsla(26, 100%, 89%, 0.549);
    ;
    margin-left: 3vh;
}

main #fullprice {
    color: hsla(0, 0%, 0%, 0.38);
    opacity: 75%;
    font-family: Kumbh Sans;
    font-weight: 700;
    font-size: 2vh;
    width: 70%;
    width: 60%;
    display: inline-flex;
    text-decoration-line: line-through;
}

main #quantity {
    color: hsla(0, 0%, 0%, );
    font-family: Kumbh Sans;
    font-weight: 700;
    font-size: 2vh;
    padding-left: 5vh;
    padding-right: 5vh;


}

main #addtocart {
    color: hsla(0, 0%, 0%, );
    font-family: Kumbh Sans;
    font-weight: 700;
    font-size: 1.6vh;
    color: white;
    background-color: hsl(26, 100%, 62%);
    padding: 2vh 10vh 2vh 10vh;
    border-radius: 10px;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    border: none;
    margin-left: 5vh;
    cursor: pointer;

}

main #addtocart:hover {
    opacity: 75%;
    transition: 0.5s;

}

main #minus,
#plus {
    cursor: pointer;
    outline-style: none;

}
main #minus:hover,
#plus:hover {
    cursor: pointer;
    outline-style: none;
    opacity: 75%;

}

main #cartbutton {
    background-color: white;
    color: white;
    align-items: center;
}

main .cart {
    display: flex;
    position: absolute;
    background-color: white;
    width: 20vw;
    height: 25vh;
    right: 15vw;
    top: 10vh;
    z-index: 2;
    border: gray solid 1px;
    border-radius: 3%;
    display: none;

}

main #yourcartisempty {
    position: absolute;
    top: 11vh;
    left: 5.5vw;
    font-family: Kumbh Sans;
    font-weight: 700;
    font-size: 1vw;
    color: rgba(128, 128, 128, 0.854);


}

main .opencart {
    display: block;

}

main #imgprocutcart {
    width: 3vw;
    border-radius: 10%;
    align-items: center;
    position: relative;
    top: 3vh;

}

main .subcart {
    position: absolute;
    top: 4vh;
    left: 2vw;
    font-family: Kumbh Sans;
    font-weight: 400;
    text-align: center;
    align-items: center;
    font-size: 1vw;
    background-color: white;

}


main #cartname {
    font-family: Kumbh Sans;
    font-weight: 700;
    font-size: 2.5vh;
    padding-left: 2vh;
}

header #cartnumber {
    font-size: 0.7vw;
    position: relative;
    right: 1.3vw;
    bottom: 1vh;
    background-color: hsl(26, 100%, 62%);
    border-radius: 30px;
    padding-left: 0.4vw;
    padding-right: 0.4vw;
    color: white;
}

main #checkoutbtn {
    border: solid hsl(26, 100%, 62%);
    background-color: hsl(26, 100%, 62%);
    font-family: Kumbh Sans;
    font-weight: 700;
    border-radius: 10px;
    color: white;
    width: 16vw;
    height: 6vh;
    font-size: 1vw;
}

main #checkoutbtn:hover {
    background-color: hsl(26, 100%, 50%);
    transition: 0.5s;
    cursor: pointer;
}

main #trash {
    width: 1vw;
    cursor: pointer;
}

body .attribution {
    position: fixed;
    bottom: 1vh;
    left: 45vw;
    font: Kumbh Sans;
    text-decoration: none;
}

main .subcart {
    display: none;
}

main .cartAP {
    display: block;
}


header .navmobile,
.menumobile {
    display: none;
}


@media screen and (max-width: 800px) {

    main .cart {
        display: flex;
        position: absolute;
        background-color: white;
        width: 60vw;
        height: 30vh;
        right: 2vw;
        top: 9vh;
        z-index: 1;
        border: gray solid 1px;
        border-radius: 3%;
        display: none;



    }

    main .opencart {
        display: block;
    }

    main #imgprocutcart {
        width: 10vw;
        border-radius: 10%;
        align-items: center;
        position: relative;
        top: 3vh;


    }

    main .subcart {
        position: absolute;
        top: 6vh;
        left: 4vw;
        font-family: Kumbh Sans;
        font-weight: 400;
        text-align: center;
        align-items: center;
        font-size: 3vw;

    }

    main #checkoutbtn {

        width: 40vw;
        height: 6vh;
        font-size: 3vw;
        margin-top: 2vh;


    }

    main #trash {
        width: 3vw;
        cursor: pointer;
    }

    main #yourcartisempty {
        position: absolute;
        top: 13vh;
        left: 16vw;
        font-family: Kumbh Sans;
        font-weight: 700;
        font-size: 3vw;
        color: rgba(128, 128, 128, 0.854);

    }






    main .home {
        display: grid;
        grid-template-areas: "l" "f" ;
        grid-template-columns: 1fr

    }

    main #productphoto1 {
        width: 95vw;
        margin-top: 7%;
        margin-left: 0%;
        border-radius: 3.5%;
    }


    main .productthumbs {
        display: flex;
        margin-left: 0%;
        border-radius: 10px;
        gap: 3vh;
        width: 100vw;
    }

    main #limitededition {

        font-size: 10vw;
        width: 100vw;
    }

    main #description {
        width: 100vw;
    }


    main #quantity {

        padding-left: 2vh;
        padding-right: 2vh;

    }


    header .navbar {
        display: none;
    }

    header .navmobile {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        padding: 0;


    }


    header #perfilmobile {
        width: 5vh;
    }

    header #cartmobile {
        align-items: center;
    }

    header #cartandperfilmobile {
        display: flex;
        align-items: center;
        gap: 1vh;
        position: absolute;
        right: 0;
    }

    hr {
        display: none;
    }

    main {
        padding: 0% 0%;
    }

    header .menumobile {



        font-family: Kumbh Sans;
        font-weight: 700;
        list-style: none;
        background-color: white;
        height: 150vh;
        width: 55vw;
        display: flex;
        flex-direction: column;
        justify-content: left;
        position: absolute;
        left: -2vh;
        z-index: 2;
        margin-top: -2vh;
        margin-left: -2vh;
        display: none;
        line-height: 4vh;

    }



    header #iconclosemobile {
        width: 2vh;

    }

    header .open {
        display: block;
    }

    body .attribution {
        display: none;
    }






}